#main .wqueue { 
	font-size: 26px;	
}

#main .wqueue .patient {
	margin: 6px 0;
}

#main .wqueue button {
	vertical-align: center;
	font-size: 20px;
}

a.cmd-link {
	color: #666;
}

button.cmd {
	font-size: large;
}

.finish div {
	margin: 6px 0;
}

.finish .kingaku, .finish .name {
	font-size: x-large;
	font-weight: bold;
}

.red {
	color: red;
}
